.sidebar {
  width: 210px;
  background-color: #f9f9f9;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  border: 1px solid #cccccc;
}

.sidebar-title {
  margin-bottom: 10px;
}

.channel-list {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.channel-button-container {
  text-align: center;
}

.channel-button {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  width: 95%;
  padding: 5px;
  background-color: #1a1a1b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.2s;
}

.channel-button:hover {
  background-color: #333;
}

.icon {
  margin-right: 5px;
  font-size: 20px;
}

.channel-item {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.channel-item:hover {
  background-color: #f0f0f0;
  text-decoration: none;
  color: #000;
}

.see-more-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #1a1a1b;
  display: block;
  text-align: center;
  transition: color 0.2s;
}

.see-more-link:hover {
  color: #333;
}

.channel-info {
  display: flex;
  align-items: center;
}

.channel-visual {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.channel-name {
  font-size: 12px;
  font-weight: bold;
}
