.comments {
  margin: 0 auto;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.comment-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  background-color: #eaeaea;
  color: #000000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comment-button:hover {
  background-color: #e0e0e0;
}

.comment-button svg {
  margin-right: 0.5rem;
}

.show-more-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 3.2rem;
  display: block;
}

.show-more-button:hover {
  color: #0056b3;
  text-decoration: underline;
}

.show-more-button:disabled {
  color: #6c757d;
  cursor: not-allowed;
  text-decoration: none;
}
