.tab-container {
  margin: 1rem;
  margin-right: 2rem;
  display: flex;
}

.tab {
  font-weight: bold;
  flex: 1;
  padding: 10px 20px;
  background: #eaeaea;
  border: none;
  border-bottom: 2px solid #eaeaea;
  cursor: pointer;
}

.tab.active {
  background: #f0f0f0;
  border-bottom-color: #333;
}
