.container {
  display: flex;
  justify-content: space-between;
  width: 880px;
  margin: 0 auto;
  margin-bottom: 0.25rem;
}

.container > * {
  margin: auto;
}

h4 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
