.piece-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  justify-content: center;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
  margin-top: 0rem;
}

.error-title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #2b2d42;
}

.error-message {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #4f5d75;
}
