.top-five-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 75px;
  margin: 1rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s ease;
}

.circle-image,
.placeholder-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted transparent;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.placeholder-circle {
  border: 2px dotted #ccc;
  background-color: #fff;
}

.circle-image:hover img {
  transform: scale(1.1);
}

.add-icon {
  font-size: 24px;
  color: #ccc;
}
