.challenge-page {
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 800px;
  min-width: 800px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .challenge-page {
    min-width: 100%;
  }
}
