.comments-section {
  padding: 12px 12px 0 12px;
  border-radius: 5px;
  position: relative;
}

.comment-form-container {
  position: sticky;
  bottom: 0;
  background-color: var(--secondary-background-color);
  padding-bottom: 2rem;
}

.comment-form-container-slide-up {
  position: sticky;
  bottom: 0;
  background-color: var(--secondary-background-color);
}

.load-more {
  color: var(--primary-red-color);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.load-more:hover {
  text-decoration: underline;
}

.load-more-replies {
  display: flex;
  color: var(--primary-red-color);
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 24px;
  margin-bottom: 8px;
}

.load-more-replies:hover {
  text-decoration: underline;
}

.separator-icon {
  margin-right: 5px;
  font-size: 1.25em;
}
