.comments-section {
  padding: 12px;
  border-radius: 5px;
  position: relative;
}

.comment-form-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-background-color);
  margin-bottom: 2rem;
  width: 100%;
  max-width: 800px;
}

.load-more {
  color: var(--primary-red-color);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.load-more:hover {
  text-decoration: underline;
}

.load-more-replies {
  display: flex;
  color: var(--primary-red-color);
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 24px;
  margin-bottom: 8px;
}

.load-more-replies:hover {
  text-decoration: underline;
}

.separator-icon {
  margin-right: 5px;
  font-size: 1.25em;
}
