<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tweakster </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
            color: #555;
        }
        li {
            font-size: 16px;
            line-height: 1.5;
            color: #555;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #53b781;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Tweakster <%= @user.username %>!</h1>
        <p>At Tweakster, we’re all about pushing the limits of gaming and creativity 
        with custom challenges designed by players like you. Here’s how you can 
        dive in and start leveling up your gaming experience:</p>
        <ul>
            <li>Personalize Your Profile: Showcase the games you're currently playing and share your achievements.</li>
            <li>Explore Unique Challenges: Discover challenges created by other gamers and test your skills..</li>
            <li>Create Your Own Challenges: Design custom challenges for your favorite games and invite others to take them on.</li>
            <li>Connect with Fellow Gamers: Join a community of passionate players, share tips, and compete in epic challenges.</li>
        </ul>
        <p>Get ready to unlock new gaming possibilities and take your skills to the next level!</p>
        <p>
            <a href="http://localhost:5100/" class="btn">Get Started</a>
        </p>
        <p>If you have any questions or need assistance, our support team is here to help.</p>
        <p>Happy gaming!</p>
    </div>
</body>
</html>