.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 21;
  overflow: hidden;
}

.modal body {
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.modal-content {
  background-color: #1a1a1b;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  width: 250px;
  position: relative;
  overflow: auto;
}

.modal-content h2 {
  color: #eeeeee;
  margin-top: 0;
}

.modal label {
  font-size: 14px;
  color: #eeeeee;
  display: block;
  margin-bottom: 1rem;
}

.modal label span {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25rem;
}

.modal input {
  display: block;
  background-color: #1a1a1b;
  color: #eeeeee;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #424242;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  width: 92%;
}

.modal input:focus {
  border: 1px solid #ff5e57;
}

.invalid input {
  font-size: 14px;
  border: 1px solid #ff5e57;
}

.invalid input:focus {
  font-size: 14px;
  border-bottom-color: #ff5e57;
}

.error-text {
  font-size: 14px;
  color: #ff5e57;
}

.question {
  font-size: 14px;
  color: #eeeeee;
}

.submit-btn {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ff5e57;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.submit-btn:hover {
  background-color: #cc4b44;
}

.submit-btn:disabled,
.submit-btn:disabled:hover,
.submit-btn:disabled:active {
  background-color: #424242;
  color: #eeeeee;
  border-color: #424242;
  cursor: not-allowed;
}

.submit-btn-twitch {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #9146ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.submit-btn-twitch svg {
  font-size: 1.2em;
  margin-right: 0px;
}

.twitch-button-text {
  font-size: 14px;
  flex: 1;
  text-align: center;
}

.submit-btn-twitch:hover {
  background-color: #7a3ea5;
}

.close-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  color: #eeeeee;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  z-index: 22;
  background-color: transparent;
  border: none;
}

.close-icon:hover {
  color: white;
}

.modal-content .switch-modal-btn {
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #ff5e57;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-top: 30px;
}

.modal-content .switch-modal-btn:hover {
  text-decoration: none;
}

.trouble-link {
  font-size: 14px;
  color: #ff5e57;
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
}

.trouble-link:hover {
  text-decoration: underline;
}

.modal input:-webkit-autofill {
  -webkit-box-shadow: 0 1000px 0 1000px #1a1a1b inset;
  -webkit-text-fill-color: #eeeeee;
}
