.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
  overflow: hidden;
  max-height: 100vh;
}

.header {
  position: relative;
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;
}

.modal-content {
  background-color: var(--secondary-background-color);
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  width: 250px;
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
}

.modal label {
  font-size: 14px;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 1rem;
}

.modal label span {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25rem;
}

.modal input {
  display: block;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  width: 92%;
}

.modal input:focus {
  border: 1px solid var(--primary-red-color);
}

.invalid input {
  font-size: 14px;
  border: 1px solid var(--primary-red-color);
}

.invalid input:focus {
  font-size: 14px;
  border-bottom-color: var(--primary-red-color);
}

.error-text {
  font-size: 14px;
  color: var(--primary-red-color);
}

.question {
  font-size: 14px;
  color: var(--primary-text-color);
}

.submit-btn {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--primary-red-color);
  color: var(--primary-text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.submit-btn:hover {
  background-color: var(--primary-red-color-hover);
}

.submit-btn:disabled,
.submit-btn:disabled:hover,
.submit-btn:disabled:active {
  background-color: var(--primary-border-color);
  color: var(--primary-text-color);
  border-color: var(--primary-border-color);
  cursor: not-allowed;
}

.submit-btn-twitch {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--twitch-color);
  color: var(--primary-text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.submit-btn-twitch svg {
  font-size: 1.2em;
  margin-right: 0px;
}

.twitch-button-text {
  font-size: 14px;
  flex: 1;
  text-align: center;
}

.submit-btn-twitch:hover {
  background-color: var(--twitch-color-hover);
}

.submit-btn-google {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--primary-red-color);
  color: var(--primary-text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.submit-btn-google svg {
  font-size: 1.2em;
  margin-right: 0px;
}

.google-button-text {
  font-size: 14px;
  flex: 1;
  text-align: center;
}

.submit-btn-google:hover {
  background-color: var(--primary-red-color-hover);
}

.close-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  top: 0.75rem;
  right: 0.5rem;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 12;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.close-icon:hover {
  background-color: var(--primary-border-color);
}

.modal-content .switch-modal-btn {
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: var(--primary-red-color);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-top: 30px;
  transition: text-decoration 0.3s;
}

.modal-content .switch-modal-btn:hover {
  text-decoration: none;
}

.trouble-link {
  font-size: 14px;
  color: var(--primary-red-color);
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
  transition: text-decoration 0.3s;
}

.trouble-link:hover {
  text-decoration: underline;
}

.modal input:-webkit-autofill {
  -webkit-box-shadow: 0 1000px 0 1000px var(--secondary-background-color) inset;
  -webkit-text-fill-color: var(--primary-text-color);
}
