.modal-outer-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  z-index: 10;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  width: 50rem;
  margin: 2.5rem auto;
  background-color: #1a1a1b;
  height: 100%;
}

.modal-header {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1b;
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-center {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.piece {
  margin-top: -2rem;
  display: flex;
  position: relative;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 46rem;
  max-height: calc(100% - 8.5rem);
  left: 50%;
  top: 0;
  transform: translate(-50%, 2.5rem);
  overflow: auto;
  overflow-x: hidden;
}

.back-icon {
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  z-index: 11;
  background-color: transparent;
  border: none;
}

.back-icon:hover {
  color: #f9f9f9;
}

.edit-icon {
  font-size: 1.25rem;
}

.vote {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-top: 1rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-link {
  color: black;
  text-decoration: none;
}

.user-link:hover {
  text-decoration: underline;
}

.user-link:visited {
  color: black;
}

.photo-container {
  width: 25px;
  height: 25px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  overflow: hidden;
}

.photo-container:hover {
  border-color: black;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user {
  margin-left: 5px;
  margin-right: 10px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 4px;
}

.channel {
  margin-left: 1px;
  margin-right: 10px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 4px;
}

.date {
  font-style: italic;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 1px;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.parent-piece-bar {
  background: #1a1a1b;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.parent-piece-text {
  margin: 0;
  font-size: 12px;
}

.parent-piece-bar a {
  color: white;
  font-style: italic;
  text-decoration: none;
}

.parent-piece-bar a:hover {
  color: white;
  text-decoration: underline;
}

.main {
  background-color: white;
  border-radius: 5px;
  width: 660px;
  max-width: 95%;
  position: relative;
  height: auto;
}

.body {
  margin: 8px 10px 10px;
}

.main h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.main hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin-top: 1rem;
}

.content {
  margin-top: 5px;
  margin-bottom: 1px;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 700px;
}

.tweak-icon {
  color: white;
  font-size: 16px;
  margin-right: 0.25rem;
}

.tweak {
  font-weight: bold;
  font-size: 14px;
  background-color: #53b781;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tweak .text {
  color: #f9f9f9;
  font-size: 14px;
  font-weight: bold;
}

.tweak:hover {
  color: white;
  background-color: #3f8d5d;
  border-radius: 4px;
  border: 8px solid transparent;
  text-decoration: none;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  margin-right: 1rem;
  border: 8px solid transparent;
}

.link:hover {
  text-decoration: none;
}

.more-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  margin-right: 1rem;
  border: 8px solid transparent;
  cursor: pointer;
}

.more-icon:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 8px solid transparent;
}

.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 5px;
}

.dropdown > div {
  display: flex;
  align-items: center;
  padding: 5px;
}

.dropdown > div > svg {
  margin-right: 5px;
}

.dropdown button {
  color: #333333;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown button:disabled {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

.dropdown button svg {
  margin-right: 0.5rem;
}

.dropdown button:hover {
  background-color: #eeeeee;
}

.danger {
  color: #d92563;
}
