.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--secondary-background-color);
  border-radius: 16px 16px 0 0;
  padding: 0; /* Remove padding to manage it in child elements */
  max-height: 75%;
  min-height: 40%;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  animation: slide-up 0.3s ease-out forwards;
  z-index: 11;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  margin: 16px 12px 0 12px;
  color: var(--primary-text-color);
}

.divider {
  border: none;
  height: 0.5px;
  width: 97%;
  background-color: var(--primary-border-color);
  margin: 8px auto;
}

.content {
  flex: 1; /* Allow the content to grow and take the remaining space */
  overflow-y: auto; /* Enable scrolling for the content area */
  box-sizing: border-box;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: flex-start; /* Align content to the top */
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
