.home-page {
  display: flex;
  margin-top: 4rem;
}

.container {
  font-size: 2rem;
  color: var(--primary-text-color);
  padding: 20px;
  border: 1px solid var(--primary-text-color);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}
