.container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.heading {
  font-size: 24px;
  margin-bottom: 0;
  text-align: center;
}

.divider {
  border: none;
  height: 1.5px;
  width: 22rem;
  background-color: var(--primary-border-color);
  margin-top: 10px;
}

.notificationsList {
  list-style-type: none;
  padding: 0;
}

.notificationItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--primary-border-color);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.notificationContent {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
}

.link {
  color: var(--primary-blue-color);
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.link:hover {
  text-decoration: underline;
}
