.skeleton-container {
  padding: 0px;
}

.post-container {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.top-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  margin-right: 15px;
}

.title {
  width: 200px;
}

.body {
  margin-bottom: 10px;
}

.bottom-row {
  display: flex;
  align-items: center;
}

.actions {
  margin: auto;
}
