.channel-page {
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
}

.card {
  width: 275px;
  margin-left: 1.25rem;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgb(51, 153, 255);
  border-radius: 5px 5px 0 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.pieces-container {
  flex: 1;
  max-width: 40rem;
  width: 100%;
}

.pieces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-container {
  width: 100px;
  height: 100px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: white;
}

.channel-name {
  margin-top: 0.75rem;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.divider {
  border: none;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 5px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-item p {
  margin: 0;
  margin-top: 5px;
}

.stats-number {
  font-weight: bold;
}

.channel-details {
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  text-align: left;
}

.channel-url {
  color: #007bff;
  margin-top: 0;
  text-decoration: none;
}

.detail {
  text-align: left;
  margin-bottom: 15px;
}

.detail-title {
  margin: 0;
  font-weight: bold;
}

.detail-data {
  margin: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-piece-btn {
  display: inline-block;
  margin-right: auto;
  margin-left: -1rem;
  margin-top: -3rem;
  margin-bottom: -1px;
  color: black;
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
  text-decoration: none;
  border: none;
}

.edit-button {
  display: inline-block;
  margin-left: auto;
  margin-right: -1rem;
  margin-top: -3rem;
  color: black;
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
  text-decoration: none;
  border: none;
}

.more-button {
  display: inline-block;
  margin-left: auto;
  margin-right: -1rem;
  margin-top: -3rem;
  color: black;
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.dropdown {
  position: absolute;
  top: 19%;
  left: calc(87.5% - 50px);
  display: inline-block;
  margin-left: auto;
  margin-right: -1rem;
  flex-direction: column;
  z-index: 9;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 5px;
}

.dropdown > div {
  display: flex;
  align-items: center;
  padding: 5px;
}

.dropdown > div > svg {
  margin-right: 5px;
}

.dropdown button {
  color: #333333;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown button svg {
  margin-right: 0.5rem;
}

.dropdown button:hover {
  background-color: #eeeeee;
}

.danger {
  color: #d92563;
}
