.Toastify__toast-theme--colored.Toastify__toast--default {
  background-color: var(--primary-border-color);
  color: var(--primary-text-color);
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  background-color: var(--primary-blue-color);
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: var(--primary-green-color);
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  background-color: var(--primary-yellow-color);
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: var(--primary-red-color);
}
