.Toastify__toast-theme--colored.Toastify__toast--default {
  background-color: #424242;
  color: white;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  background-color: #17a2b8;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: #28a745;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  background-color: #ffc107;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: #ff5e57;
}
