.form-container {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-visual-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.upload-visual-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #cccccc;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.upload-visual-btn:hover {
  border: 1px solid black;
}

.upload-visual-btn svg {
  width: 35px;
  height: 35px;
  color: #d92563;
}

.remove-visual-button-container {
  margin-top: 10px;
}

.remove-visual-button {
  color: #d92563;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #cccccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-visual-button:hover {
  color: #c3164b;
  border: 1px solid black;
}

.remove-visual-button:focus {
  outline: none;
}

.visual-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.visual {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.visual-input {
  display: none;
}

.name-input {
  width: 50%;
  padding: 10px;
  padding-left: 8px;
  align-self: flex-start;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: left;
}

.url-input {
  width: 96.5%;
  padding: 10px;
  padding-left: 8px;
  align-self: flex-start;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: left;
}

.name-input:hover,
.url-input:hover {
  border: 1px solid black;
  outline: none;
}

.name-input:focus,
.url-input:focus {
  border: 1px solid black;
  outline: none;
}

.form-textarea {
  width: 96.5%;
  padding: 10px;
  padding-left: 8px;
  align-self: flex-start;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 150px;
  margin-bottom: 20px;
  resize: vertical;
  min-height: 150px;
}

.form-textarea:focus {
  border: 1px solid black;
  outline: none;
}

.form-textarea:hover {
  border: 1px solid black;
  outline: none;
}

.name-input::placeholder,
.url-input::placeholder,
.form-textarea::placeholder {
  padding-left: 4px;
  font-size: 12px;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.form-submit-button {
  background-color: rgb(51, 153, 255);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  align-self: flex-end;
}

.form-submit-button:hover {
  background-color: rgb(31, 117, 195);
}

.invalid input {
  border: 1px solid #c3164b;
}

.invalid input:hover {
  border-color: #ff9c40;
}

.invalid input:focus {
  border-color: #ff9c40;
}

.error-text {
  margin-top: 0;
  font-size: 12px;
  color: #c3164b;
}

.delete-button-container {
  display: flex;
  justify-content: center;
}

.delete-button {
  display: inline-block;
  background-color: #d92563;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
}

.delete-button:hover {
  background-color: #c3164b;
}

.form-error-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-error {
  color: red;
  margin-bottom: 10px;
}
