.comment-form {
  display: flex;
  gap: 12px;
  padding: 12px;
}

.comment-input {
  flex: 1;
  background-color: var(--secondary-background-color);
  padding: 8px;
  border: 1px solid var(--primary-text-color-hover);
  border-radius: 5px;
  transition: boder 0.3s;
}

.comment-input[type='text'] {
  border-radius: 5px;
  background-color: transparent;
  color: var(--primary-text-color);
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 30vw;
  outline: none;
  flex-grow: 1;
}

.comment-input:focus {
  border: 1px solid var(--primary-text-color);
}

.comment-input:hover {
  border: 1px solid var(--primary-text-color);
}

.submit-icon {
  font-size: 1.5em;
}

.submit-button {
  background-color: var(--primary-blue-color);
  color: var(--primary-text-color);
  border: none;
  padding: 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  height: 34px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: var(--primary-blue-color-hover);
}

.reply-button {
  background: none;
  color: var(--primary-blue-color);
  border: none;
  cursor: pointer;
  margin-top: 5px;
  transition: text-direction 0.3s;
}

.reply-button:hover {
  text-decoration: underline;
}
