.difficulty-form {
  text-align: center;
}

.difficulty {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.icon {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.filled,
.unfilled {
  font-size: 3rem;
  transition: color 0.3s ease;
}

.filled {
  color: var(--primary-yellow-color);
}

.unfilled {
  color: var(--primary-text-color);
}

.ratings {
  font-size: 14px;
  margin-top: 12px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.ratings-info {
  margin-bottom: 6px;
}

.ratings span {
  font-weight: bold;
  color: var(--primary-red-color);
}

@media (max-width: 768px) {
  .filled,
  .unfilled {
    font-size: 2.5rem;
  }
}
