<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #141414;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #1a1a1b;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
        h1 {
            color: white;
            font-size: 24px;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
            color: #eeeeee;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ff5e57;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }
        .btn:hover {
            background-color: #cc4b44;
        }
        .footer {
            margin-top: 20px;
            font-size: 14px;
            color: #eeeeee;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Reset Your Password</h1>
        <p>Hi <%= @resource.email %>,</p>
        <p>We received a request to reset your password for your Tweakster account. Click the button below to set a new password:</p>
        <p>
            <a href="<%= @reset_password_url %>" class="btn">Reset Password</a>
        </p>
        <p>If you didn’t request this change, don’t worry—you can safely ignore this email, and your password will remain the same.</p>
        <p>For your account’s security, this link will expire shortly, so be sure to update your password soon!</p>
        <p class="footer">If you need help, feel free to contact our support team. We're always here to assist.</p>
        <p>Happy gaming,  
        <br>The Tweakster Team</p>
    </div>
</body>
</html>
