.challenge-card {
  box-sizing: border-box;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.challenge-card-main {
  padding: 12px;
  padding-bottom: 0px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
  gap: 12px;
}

.game-link {
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--link-color);
}

.game-link:hover {
  text-decoration: underline;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 12px;
}

.challenge-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.meta {
  margin-bottom: 12px;
}

.divider {
  border: none;
  height: 0.5px;
  width: 100%;
  background-color: var(--primary-border-color);
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-info {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.user-link {
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--primary-red-color);
  margin-left: 5px;
}

.user-link:hover {
  text-decoration: underline;
}

.avatar {
  width: 30px;
  height: 30px;
  background-color: var(--primary-text-color);
  border-radius: 50%;
  margin-right: 2px;
}

.difficulty-category {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  gap: 12px;
}

.category {
  margin: 0;
  font-size: 0.9rem;
  color: var(--primary-text-color);
  line-height: 1.4;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-text-color);
  margin: 0;
  margin-bottom: 12px;
}

.description {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 12px;
}

.attempt-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
  gap: 12px;
}

.votes {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .challenge-card {
    max-width: 100%;
  }
}
