.attempt-status {
  margin-top: 3px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.to-do {
  color: var(--primary-red-color);
}

.in-progress {
  color: var(--primary-yellow-color);
}

.complete {
  color: var(--primary-green-color);
}
