.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.25rem;
  margin-bottom: 20px;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
}

.dropzone-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.25rem;
}

.dropzone-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  height: 150px;
  width: 150px;
  text-align: center;
  overflow: hidden;
}

.dropzone-container-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  cursor: default;
  height: 150px;
  width: 150px;
  text-align: center;
  overflow: hidden;
}

.dropzone-container:hover {
  border-color: #1a1a1b;
}

.dropzone-container.active {
  border-color: #1a1a1b;
}

.dropzone-container:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.dropzone-input {
  display: none;
}

.dropzone-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #999999;
}

.delete-button {
  background-color: #d92563;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  background-color: #c3164b;
}

.error-toast {
  background-color: #d92563;
  color: white;
}
