.container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: #ff9c40;
  margin-right: 4px;
}

.custom-select-wrapper {
  position: relative;
}

.select-dropdown {
  font-size: 14px;
  padding: 10px;
  color: #ff9c40;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.arrow-down,
.arrow-up {
  position: absolute;
  left: 6.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.arrow-down {
  border-top: 5px solid #ff9c40;
}

.arrow-up {
  border-bottom: 5px solid #ff9c40;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ff9c40;
  border-radius: 5px;
  width: 8rem;
  z-index: 9;
}

.dropdown-option {
  padding: 10px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #ff9c40;
  color: #fff;
}
