.container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-top: 6px;
  margin-right: 1rem;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 4px;
}

.custom-select-wrapper {
  position: relative;
}

.select-dropdown {
  font-size: 14px;
  padding: 10px;
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
}

.icon {
  margin-top: 2px;
  margin-right: 4px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  width: 8rem;
  z-index: 9;
}

.dropdown-option {
  padding: 10px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #333;
  color: #fff;
}
