.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #818384;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: bold;
  font-size: 20px;
}

.swiper-button-prev.swiper-button-disabled::after,
.swiper-button-next.swiper-button-disabled::after,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  visibility: hidden;
  cursor: not-allowed;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}

.swiper-slide {
  height: auto;
  cursor: default;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  bottom: 0;
}

.swiper-pagination-bullet {
  background: #000;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 50%;
  opacity: 0.4;
  transition: background 0.3s;
}

.swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
}

.swiper-pagination-bullet:hover {
  background: #333;
  opacity: 1;
}
