.approval-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.25em;
}

.icon-selected {
  color: #28a745;
}

.icon-unselected {
  color: #eeeeee;
}

.approval-count {
  margin-left: 5px;
  font-size: 12px;
}

.selected {
  color: #28a745;
}

.unselected {
  color: #eeeeee;
}
