.attempt-button {
  background-color: var(--primary-green-color);
  color: var(--primary-text-color) fff;
  font-size: 0.8em;
  font-weight: bold;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.attempt-button:hover {
  background-color: var(--primary-green-color-hover);
}

.try-again-button {
  background-color: var(--primary-green-color);
  color: var(--primary-text-color) fff;
  font-size: 0.8em;
  font-weight: bold;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.try-again-button:hover {
  background-color: var(--primary-green-color-hover);
}
