.comment-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.25em;
}

.icon {
  color: var(--primary-text-color);
  transition: color 0.3s;
}

.comment-count {
  margin-left: 5px;
  font-size: 12px;
  transition: color 0.3s;
}

.comment-button:hover .icon {
  color: var(--primary-yellow-color);
}

.comment-button:hover .comment-count {
  color: var(--primary-yellow-color);
}
