.share-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.25em;
}

.icon {
  color: var(--primary-text-color);
}

.text {
  margin-left: 5px;
  font-size: 12px;
}

.share-button:hover:not(:has(.popup-menu:hover)) .icon {
  color: var(--twitch-color);
}

.share-button:hover:not(:has(.popup-menu:hover)) .text {
  color: var(--twitch-color);
}

.popup-menu {
  position: absolute;
  margin-top: 5.5rem;
  background-color: var(--primary-background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  z-index: 10;
}

.copy-link-button {
  background-color: var(--twitch-color);
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.copy-link-button:hover {
  background-color: var(--twitch-color-hover);
}
