.button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #ff5e57;
  color: #eeeeee;
  margin: 5px;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #cc4b44;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .button {
    display: none;
  }
}
