.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #eeeeee;
  color: #030303;
  margin: 5px;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
}
