.btn {
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
  width: 260px;
  padding: 10px 20px;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  text-decoration: none;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  content: 'Unsubscribe';
  background-color: var(--primary-background-color);
}
