<!DOCTYPE html>
<html lang="en"> 
  <head>
    <title>Tweakster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>

    <%= vite_javascript_tag 'application.jsx' %>
  </head>
  <body>
    <noscript>
      Welcome to Tweakster! For the best experience, please enable JavaScript in your browser settings.
    </noscript>
    <div id="backdrop-root"></div>
    <div id="overlay-root"></div>
    <div id="root"></div>
  </body>
</html>
